@import './globals';
@import './reset';
@import './variables';


.navcontainer{
    display: flex;
    padding: 2px 30px;
    background-color: #142C5F;

    .close{
        font-size: 2.3rem;
        position: relative;
        top: 10px;
        display: none;
        cursor: pointer;
        color: yellow;
    }

    .logo{
        margin-right: auto;
        margin-left: 5px;

        .ggs{
            width: 70px;
        }
    }

    .burger{
        position: relative;
        top: 20px;
        height: 30px;
    }

    .links{
        position: relative;
       // top: 25px;
        display: none;

        a{
            color: #E6DC50;
            transition: .5s;
        }

        a:hover{
            color: white;
        }

        ul{
            //display: flex;
            z-index: 1;
            display: block;
            position: absolute;
            right: 0;
            top: 3.8em;
            width: 180px;
            height: 280px;
            text-align: center;
            background-color: rgba(76, 76, 214, 0.945);
            font-size: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
           // margin-right: 10px;

            li{
                margin: 28px 30px;
            }
        }
    }
}

.banner{
   // background-image: url('../img/banner1.jpg');
    background: linear-gradient(rgba(2, 15, 110, 0.445),rgba(0, 0, 0, 0.575)),url('../img/banner1.jpg');
    background-position: 50% 70%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 32% 0%;
    border: none;
    max-height: 500px;

    .bannertext{
        position: relative;
        left: 45%;
        top: -2.7em;
        color: white;
        //float: right;
        width: 50%;
      //  font-size: .8em;

        h1{
            margin-bottom: 15%;
        }
        p{
            line-height: 1.2;
            letter-spacing: 2px;
        }
       
    }


}

hr{
   // padding: 2%;
    width: 96%;
    margin: auto;
    margin-top: 20px;
    color: rgb(65, 63, 63);
    border:  thin 1px;
}

hr:nth-child(2){
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5%;
}

.card{
    display: flex;
    margin: 5% 20%; 
    justify-content: center;
    padding-bottom: 5%;
    transition: 3s;

    h1{
        text-transform: uppercase;
        margin-bottom: 5%;
        text-decoration: underline;
        font-size: 20px;
        font-weight: 100;
    }
    
    
    
    ul{
        transition: 3s;
       // display: none;
        opacity: 0;
    }

   .products{
       transition: 4s;
       cursor: pointer;
       margin-right: 30%;
       margin-left: 5%;
       margin-bottom: -24em;
   }

   .services{
    transition: 4s;
    margin-bottom: -24em;
   }

   .products:hover{
    transition: 1s;
    margin-bottom: 0;

        ul{
          //  transition: 3s;           
            opacity: 1;
            display: block;
        }
   }

   .services:hover{
    margin-bottom: 0em;
    transition: 1s;
        ul{
            transition: 3s;
            display: block;
            opacity: 1;
        }
   }
 
}

.work{
   text-align: center;
   margin-bottom: 30px;
}

.projimg{
    background-image: url('../img/hse1.jpg');
    background-position: 50% 40%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20%;
    width: 80%;
    margin: auto;
    border-radius: 1em;
    border: none;
    max-width: 700px;
}

.projtext{
    position: relative;
    top: -3em;
    padding: 10% 5%;
    width: 60%;
    margin: auto;
    border-radius: 1.5em;
    background-color: #E6DC50;
    text-align: center;

    h1{
        padding-bottom: 10%;
        text-align: center;
    }

    p{
        font-size: .8em;
    }
}

.snippet{
    display: flex;
    justify-content: center;

    .snip{
        margin: 1%;
        padding: 14%;
        border: none;
        margin-bottom: 8%;
    }

    .snip:nth-child(1){
        background-image: url('../img/hse1.jpg');
        background-size: 100%;
    }
    .snip:nth-child(2){
        background-image: url('../img/hse4.jpg');
        background-size: 100%;
    }
    .snip:nth-child(3){
        background-image: url('../img/hse5.jpg');
        background-size: 100%;
    }
   
}

.more{
    text-align: center;
    margin-bottom: 45px;
    text-decoration: underline;

    a{
        color: #00052E;
    }
}

footer{
   // display: flex;
    text-align: center;
    padding: 2% 5%;
    background-color: #00052E;
    color: white;
    font-size: 14px;

    p{
        line-height: 1.5;
    }

    a{
        color: white;
    }

    .rights{
        margin-right: auto;
    }
}

.projecttitle{
    text-align: center;
    padding-top:8%;
}

.projectscontainer{
    margin-top: 8%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project,.project2{
        padding: 80px;
        margin: 1%;
      //  background-color: blue;
    }

    .project:nth-child(1){
        background-image: url('../img/glass3.jpg');
        background-size: 100%;
    }
    .project2:nth-child(1){
        background-image: url('../img/hse3.jpg');
        background-size: 100%;
    }

    .project:nth-child(2){
        background-image: url('../img/glass1.jpg');
        background-size: 100%;
    }
    .project2:nth-child(2){
        background-image: url('../img/inside4.jpg');
        background-size: 135%;

    }

    .project:nth-child(3){
        background-image: url('../img/hse2.jpg');
        background-size: 100%;
    }
    .project2:nth-child(3){
        background-image: url('../img/banner2.jpg');
        background-size: 100%;
    }

    .project:nth-child(4){
        background-image: url('../img/inside2.jpg');
        background-size: 100%;
        transform: rotate(90deg);
    }
    .project2:nth-child(4){
        background-image: url('../img/sink1.JPG');
        background-size: 100%;
        //transform: rotate(90deg);
    }

    .project:nth-child(5){
        background-image: url('../img/inside3.jpg');
        background-size: 100%;
    }
    .project2:nth-child(5){
        background-image: url('../img/kitchen.JPG');
        background-size: 135%;
    }

    .project:nth-child(6){
        background-image: url('../img/frame2.jpg');
        background-size: 100%;
    }
    .project2:nth-child(6){
        background-image: url('../img/closet.JPG');
        background-size: 100%;
    }

    .project:nth-child(7){
        background-image: url('../img/stairs1.jpg');
        background-size: 100%;
    }
    .project2:nth-child(7){
        background-image: url('../img/shower.JPG');
        background-size: 100%;
    }

    .project:nth-child(8){
        background-image: url('../img/appartment.jpg');
        background-size: 100%;
    }
    .project2:nth-child(8){
        background-image: url('../img/frame3.JPG');
        background-size: 100%;
    }

    .project:nth-child(9){
        background-image: url('../img/inside5.jpg');
        background-size: 100%;
    }
    .project2:nth-child(9){
        background-image: url('../img/hse7.JPG');
        background-size: 135%;
    }

    .project:nth-child(10){
        background-image: url('../img/stairs2.jpg');
        background-size: 100%;
    }
    .project2:nth-child(10){
        background-image: url('../img/frame4.JPG');
        background-size: 100%;
    }


}


.contactbanner{
    display: none;
}

.contactsection{
    display: flex;
    flex-direction: column;
    
    .contactinfo{
       
        text-align: center;
        flex-basis: 50%;
        padding: 90px 40px;
        background-color: #E6DC50;
        h1{
            margin-bottom: 25px;
        }
        p{
            line-height: 1.5;
        }
    }

    .contactform{
        padding: 50px 10px;
        text-align: center;
        margin: auto;

        form{
            input,textarea{
                text-align: left;
                margin: 20px;
                padding: 10px;
                width: 310px;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.288);
            }

            textarea{
                resize: none;
                padding: 80px 10px;
                padding-top: 15px;

            }

            .send{
                padding: 15px;
                width: 13em;
                border: none;
                border-radius: 30px;
                color: white;
                background-color: #142C5F;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (min-width: 750px){
    .navcontainer{
        .burger{
            display: none;
        }

        .close{
            display: none;
        }
       
        .links{
            display: block;
            top: 25px;

            ul{
                display: flex;
                position: relative;
                top: 0em;
                width: 0em;
                height: 0em;
                right: 19em;
                font-size: 18px;

                li{
                    position: relative;
                    margin: 0px 30px;
                }
            }

        }
        
        .burger{
            display: none;
        }
    }
    .banner{
        .bannertext{
            position: relative;
            top: -6em;
        }
    }

    .showcase{
        display: flex;
        padding: 8%;

       .projimg{
            padding: 130px 70px;
            position: relative;
            left: 8%;
            top: -3em;
        } 

        .projtext{
            padding: 120px 20px;
            position: relative;
            right: 5%;
            width: 28em;
        }
    }

    .snippet{

        .snip{
            padding: 100px;
            margin-bottom: 45px;
        }
    }

    .projectscontainer{
        .project,.project2{
            padding: 103px;
        }

        .project:nth-child(10),.project2:nth-child(10){
            display: none;
        }
    }

    footer{
        display: flex;
        text-align: left;

        .rights{
            display: flex;
            
            p:nth-child(2){
                margin-left:30px;
            }
        }

        .contact{
            display: flex;
            p:nth-child(2){
                margin-left:30px;
            }
        }
    }

    .contactbanner{
        display: block;
        padding: 225px;
        background: linear-gradient(rgba(2, 15, 110, 0.445),rgba(0, 0, 0, 0.575)),url('../img/hse2.jpg');
        background-size: 100%;
        background-position: 90px;
    }

    .contactsection{
        flex-direction: row;
    }
}

@media only screen and (min-width: 900px){
    .banner{
        padding: 190px 0px;
        background-position: 50% 50%;
        background-size: 100%;

        .bannertext{
            top: -3em;
            width: 40%;
        }
    }

    .showcase{
       .projimg{
            left: 10%;
        } 

        .projtext{
            right: 10%;
        }
    }

    .snippet{
        .snip{
            padding: 120px;
        }
    }

    .projectscontainer{
        .project{
            padding: 146px;
        }
    }

    .contactbanner{
        padding: 285px;
    }

    .contactsection{

        .contactinfo{
            position: relative;
            padding: 276px 40px;
            h1{
                position: relative;
               // margin-top: 10px;
            }

        }
    }

}

@media only screen and (min-width: 1200px){
    .projecttitle{
        padding-top: 50px;
    }
    .projectscontainer{
        margin-top: 45px;
        padding: 0px 90px;
    }

    .contactbanner{
        padding: 200px;
    }

    .contactsection{
        .contactinfo{
            padding: 140px;
        }
        .contactform{
            padding: 50px;
        }
    }
}

@media only screen and (max-width: 360px){

    .navcontainer{
        .logo{
            .ggs{
                width: 50px;
            }
        }
        
        .burger{
            height: 25px;
            top: 15px;
        }

    }

    .banner{
        padding: 72px 0px;

        .bannertext{
            font-size: 12px;
        }
    }

    .card{
        h1{
            font-size: 16px;
        }
    }

    .showcase{
        .projtext{
            h1{
                font-size: 22px;
            }
            p{
                font-size: 12px;
            }
        }
    }

    .projecttitle{
        font-size: 22px;
    }
    .projectscontainer{
        .project,.project2{
            padding: 70px;
        }
    }

    .contactsection{
        .contactform{
           // padding: 10px;

            form{
                input,textarea{
                    width: 270px;
                }
            }
        }
    }
}


